@import "bourbon";
@import "neat";
@import "base";

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

@mixin texture($gradient-angle, $bg-color-1, $bg-color-2, $texture-number, $inverted) { $texture-list:
        "paper.png"             // Fabric and paper
        "rice_paper.png"
        "noise_lines.png"
        "fabric_plaid.png"
        "first_aid_kit.png"
        "texturetastic_gray.png"
        "lil_fiber.png"
        "tex2res5.png"
        "skin_side_up.png"
        "light_noise_diagonal.png"
        "chruch.png"
        "45degreee_fabric.png"
        "bgnoise_lg.png"
        "little_pluses.png"
        "squairy_light.png"
        "white_texture.png"
        "binding_light.png"
        "double_lined.png"      // Grid, mesh and squares
        "grid.png"
        "absurdidad.png"
        "grid_noise.png"
        "fancy_deboss.png"
        "graphy.png"
        "noise_pattern_with_crosslines.png"
        "old_mathematics.png"
        "ps_neutral.png"
        "subtle_freckles.png"
        "wavegrid.png"
        "az_subtle.png"
        "tiny_grid.png"
        "wavegrid.png"
        "gridme.png"
        "noisy_grid.png"
        "subtlenet2.png"
        "white_carbon.png"
        "lghtmesh.png"
        "p5.png"                 // Dots
        "worn_dots.png"
        "subtle_dots.png"
        "brillant.png"
        "farmer.png"
        "retina_dust.png"        // Lines
        "pinstripe.png"
        "line_horizontal1.png"
        "line_horizontal2.png"
        "linen.png"
        "vintage_speckles.png"   // Patina and irregular
        "subtle_grunge.png"
        "old_wall.png"
        "brushed.png"
        "stucco.png"
        "mooning.png"
        "husk.png"
        "concrete_wall_2.png"
        "noisy.png"
        "concrete_wall_3.png"
        "subtle_surface.png"
        "dust.png"
        "light_alu.png"
        "corrugation.png"
        "kindajean.png"           // Diagonal
        "line_diagonal1.png"
        "line_diagonal2.png"
        "groovepaper.png"
        "brushed_alu.png"
        "rough_diagonal.png"
        "diagonal-noise.png"
        "cross_scratches.png"
        "striped_lens.png"
        "debut_light.png"
        "diagonal_waves.png"    // Special
        "honey_im_subtle.png"
        "pw_maze_white.png"
        "subtle_zebra_3d.png"
        "white_wave.png"
        "circles.png"
        "crosses.png"
        "grilled.png"
        "pw_pattern.png"
        "struckaxiom.png"
        "vichy.png"
        "wavecut.png"
        "whitey.png"
        "cream_pixels.png"
        "grey.png"
        "shinedotted.png"
        "stacked_circles.png"
        "noisy_grid_simple.png";

  @if ($inverted == 1) {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/#{nth($texture-list, $texture-number)}"),
    linear-gradient($gradient-angle, $bg-color-1, $bg-color-2),
    center no-repeat $bg-color-1 scroll;
  }

  @else {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/#{nth($texture-list, $texture-number)}"),
    linear-gradient($gradient-angle, $bg-color-1, $bg-color-2),
    center no-repeat $bg-color-1 scroll;
  }
}

.hero {
  $large-screen: 50em !default;
  align-items: center;
  background: url('/assets/hero.jpg');
  background-position: center;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 40em;
  padding: 2em;

  @include media($large-screen) {
    background-position: left;
    background-size: cover;
    justify-content: flex-end;
  }

  .hero-content {
    max-width: 20em;
    text-align: center;

    @include media($large-screen) {
      text-align: left;
    }
  }

  .hero-logo {
    margin: auto;
  }
}

// The mixin above should preferably be in a file of its own. Below is the code for the object that has the texture.

.texture {
  $texture-top-background: lighten(#414141, 1%);
  $texture-bottom-background: darken(#323232, 10%);
  width: 100%;

  .texture-normal {
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal
    @include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 1);
    float: left;
    width: 50%;
  }

  .texture-inverted {
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal
    @include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 0);
    float: left;
    width: 50%;
  }
}



// Here is the new flickity gallery stuff

/* external css: flickity.css */

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  background: #000000;
}

.flickity-viewport {
  background: black;
}

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 400px;
  height: 225px;
  margin-right: 10px;
  border-radius: 5px;
  background: #0C1B3D;
  counter-increment: carousel-cell;
  color: white;
}

/* cell number */
.carousel-main .carousel-cell:before {
  display: block;
  text-align: left;
  content: counter(carousel-cell);
  line-height: 80px;
  font-size: 80px;
  margin-top: 113px;
  margin-left: 5px;
  @include stroke(4, rgba(0, 0, 0, 0.09));
}

.carousel-nav{
  margin: 0 40px -26px 50px;
}
.carousel-nav .carousel-cell {
  height: 30px;
  width: 35px;
}
.carousel-nav .carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  color: white;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0px;
}
.carousel-nav .carousel-cell.is-nav-selected {
  background: #910000;
  background: #782154;
  background: #243865;
  background: #8c7a24;
}

.carousel-nav .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #333;
}
.carousel-nav .flickity-prev-next-button:hover {
  background: #F90;
}
.carousel-nav .flickity-prev-next-button .arrow {
  fill: white;
}
.carousel-nav .flickity-prev-next-button.no-svg {
  color: white;
}
.carousel-nav .flickity-prev-next-button.previous{
  left: -40px;
}
.carousel-nav .flickity-prev-next-button.next{
  right: -40px;
}

.carousel-main .flickity-page-dots {
  display: table;
  width: 100%;
  bottom: 225px;
  background: white;
}
.carousel-main .flickity-page-dots .dot {
  display: table-cell;
  margin: 0;
  height: 8px;
  border-radius: 0;
}
.carousel-main .flickity-page-dots .dot.is-selected {
  background: #910000;
  background: #782154;
  background: #8c7a24;
}
.carousel-main .flickity-prev-next-button {
  border-radius: 5px;
  margin-top: -55px;
}

.parent {
  display: table;
  width: 100%;
  margin-bottom: 22px;
}
.parent .left {
  background: black;
}
.parent .left, .parent .right {
  display: table-cell;
  width: 50%;
  height: 100%;
}

.episode-title {
  font-size: 24px;
  line-height: 32px;
  text-align: right;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.episode-title-margin {
  margin-right: 8px;
}