@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
body {
  margin: 0;
  background: url("/assets/graphy.png");
  font-family: 'Helvetica Neue', sans-serif;
}

body h1 {
  margin: 0 auto;
  z-index: 0;
  text-align: center;
  font-size: 8em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #0080FF;
  opacity: 0.7;
}
