@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
  background-color: #11519a;
  color: #fff;
}

button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px;
}

button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
}

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}

[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}

[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
  outline: none;
}

[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}

[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  width: 100%;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: 1.2;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.75em 0.75em 0.75em 0;
}

html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease;
}

a:hover {
  color: #104c90;
}

a:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

.hero {
  align-items: center;
  background: url("/assets/hero.jpg");
  background-position: center;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 40em;
  padding: 2em;
}

@media screen and (min-width: 50em) {
  .hero {
    background-position: left;
    background-size: cover;
    justify-content: flex-end;
  }
}

.hero .hero-content {
  max-width: 20em;
  text-align: center;
}

@media screen and (min-width: 50em) {
  .hero .hero-content {
    text-align: left;
  }
}

.hero .hero-logo {
  margin: auto;
}

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 300px;
  height: 200px;
  margin-right: 10px;
  background: rgba(18, 23, 84, 0.83);
  border-radius: 5px;
  counter-increment: carousel-cell;
}

header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999;
}

header.navigation .navigation-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  position: relative;
  width: 100%;
  z-index: 9999;
}

header.navigation .navigation-wrapper:last-child {
  margin-right: 0;
}

header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: block;
}

header.navigation .navigation-wrapper .first-half {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  margin-left: auto;
  margin-right: auto;
}

header.navigation .navigation-wrapper .first-half:last-child {
  margin-right: 0;
}

header.navigation .navigation-wrapper .second-half {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  margin-left: auto;
  margin-right: auto;
}

header.navigation .navigation-wrapper .second-half:last-child {
  margin-right: 0;
}

header.navigation .navigation-wrapper:last-child {
  margin-left: auto;
  margin-right: auto;
}

header.navigation .logo {
  float: left;
  max-height: 60px;
  padding-left: 1em;
  padding-right: 2em;
}

header.navigation .logo img {
  max-height: 60px;
  padding: 0.8em 0;
}

header.navigation .navigation-menu-button {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  float: right;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 53.75em) {
  header.navigation .navigation-menu-button {
    display: none;
  }
}

header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
  color: white;
}

header.navigation nav {
  float: none;
  min-height: 60px;
  z-index: 9999999;
}

@media screen and (min-width: 53.75em) {
  header.navigation nav {
    float: left;
  }
}

header.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}

header.navigation ul.navigation-menu.show {
  display: block;
}

@media screen and (min-width: 53.75em) {
  header.navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
  }
}

header.navigation ul li.nav-link {
  background: #333;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: 0.8em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}

@media screen and (min-width: 53.75em) {
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;
  }
}

header.navigation ul li.nav-link a {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  text-decoration: none;
}

@media screen and (min-width: 53.75em) {
  header.navigation ul li.nav-link a {
    padding-right: 1em;
  }
}

header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
  color: white;
}

header.navigation .active-nav-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}

header.navigation li.more.nav-link {
  padding-right: 0;
}

@media screen and (min-width: 53.75em) {
  header.navigation li.more.nav-link {
    padding-right: 1em;
  }
}

header.navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}

header.navigation li.more.nav-link a {
  margin-right: 1em;
}

header.navigation li.more.nav-link > a {
  padding-right: 0.6em;
}

header.navigation li.more.nav-link > a::after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  color: rgba(255, 255, 255, 0.7);
  content: "\25BE";
}

header.navigation li.more {
  overflow: visible;
  padding-right: 0;
}

header.navigation li.more a {
  padding-right: 0.8em;
}

header.navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}

@media screen and (min-width: 53.75em) {
  header.navigation li.more > a {
    margin-right: 1em;
  }
}

header.navigation li.more > a::after {
  content: "›";
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}

header.navigation li.more:focus > .submenu,
header.navigation li.more:hover > .submenu {
  display: block;
}

@media screen and (min-width: 53.75em) {
  header.navigation li.more {
    padding-right: 0.8em;
    position: relative;
  }
}

header.navigation ul.submenu {
  display: none;
  padding-left: 0;
}

@media screen and (min-width: 53.75em) {
  header.navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}

@media screen and (min-width: 53.75em) {
  header.navigation ul.submenu .submenu.fly-out-right {
    left: 11.8em;
    top: 0;
  }
}

@media screen and (min-width: 53.75em) {
  header.navigation ul.submenu .submenu.fly-out-left {
    left: -11.8em;
    top: 0;
  }
}

@media screen and (min-width: 53.75em) {
  header.navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}

header.navigation ul.submenu li {
  display: block;
  padding-right: 0;
}

@media screen and (min-width: 53.75em) {
  header.navigation ul.submenu li {
    line-height: 46.15385px;
  }
  header.navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  header.navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0.7em;
  }
}

header.navigation ul.submenu li a {
  background-color: #2b2b2b;
  display: inline-block;
  text-align: right;
  width: 100%;
}

@media screen and (min-width: 53.75em) {
  header.navigation ul.submenu li a {
    background-color: #333;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}

header.navigation .navigation-tools {
  background: #505050;
  clear: both;
  display: block;
  height: 60px;
}

@media screen and (min-width: 53.75em) {
  header.navigation .navigation-tools {
    background: transparent;
    clear: none;
    float: right;
  }
}

header.navigation .search-bar {
  float: left;
  padding: 0.85em 0.85em 0.7em 0.6em;
  width: 60%;
}

header.navigation .search-bar form {
  position: relative;
}

header.navigation .search-bar form input[type=search] {
  background: #404040;
  border: 1px solid #262626;
  border-radius: 6px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0.8em;
  width: 100%;
}

@media screen and (min-width: 53.75em) {
  header.navigation .search-bar form input[type=search] {
    width: 100%;
  }
}

header.navigation .search-bar form button[type=submit] {
  background: #404040;
  border: 0;
  bottom: 0.3em;
  left: auto;
  outline: none;
  padding: 0 9px;
  position: absolute;
  right: 0.3em;
  top: 0.3em;
}

header.navigation .search-bar form button[type=submit] img {
  height: 12px;
  opacity: 0.7;
  padding: 1px;
}

@media screen and (min-width: 53.75em) {
  header.navigation .search-bar {
    display: inline-block;
    position: relative;
    width: 16em;
  }
  header.navigation .search-bar input {
    box-sizing: border-box;
    display: block;
  }
}

.texture {
  width: 100%;
}

.texture .texture-normal {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/diagonal-noise.png"), linear-gradient(180deg, #444444, #191919), center no-repeat #444444 scroll;
  float: left;
  width: 50%;
}

.texture .texture-inverted {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/diagonal-noise.png"), linear-gradient(180deg, #444444, #191919), center no-repeat #444444 scroll;
  float: left;
  width: 50%;
}
